<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Private Cloud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="input-text">
    <h2>Bienvenido! 👋</h2>
    <p>Por favor, completa el formulario para entrar</p>
  </div>
  <form (ngSubmit)="register()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input
          type="text"
          placeholder="Nombre"
          formControlName="name"
        ></ion-input>
      </ion-item>
      <div *ngIf="(name.dirty || name.touched) && name.errors" class="errors">
        <span *ngIf="name.errors?.required">El nombre no puede esta vacío</span>
        <span *ngIf="name.errors?.name">El nombre no es válido</span>
      </div>
      <ion-item>
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="(password.dirty || password.touched) && password.errors"
        class="errors"
      >
        <span *ngIf="password.errors?.required"
          >La contraseña no puede esta vacía</span
        >
        <span *ngIf="password.errors?.minlength"
          >La contraseña debe tener al menos 6 caracteres</span
        >
      </div>
    </div>

    <ion-button type="submit" expand="block" [disabled]="!credentials.valid"
      >Entrar</ion-button
    >
  </form>
</ion-content>
