<ion-menu side="start" menuId="first" contentId="homelayout">
  <ion-header>
    <ion-toolbar>
      <ion-title>Private Cloud</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-menu-toggle>
      <ion-list>
        <ion-item class="pointer" (click)="navigateHome()">
          <ion-icon
            class="ion-margin-end"
            name="folder-open-outline"
          ></ion-icon>
          Almacenamiento
        </ion-item>

        <!-- <ion-item class="pointer" (click)="navigateShared()">
          <ion-icon class="ion-margin-end" name="people-outline"></ion-icon>
          Compartido
        </ion-item> -->
      </ion-list>
    </ion-menu-toggle>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle
          >Capacidad de la nube
          <span *ngIf="disk">({{ disk.capacity }})</span></ion-card-subtitle
        >
      </ion-card-header>
      <ion-card-content *ngIf="disk">
        <ion-item class="ion-activated" lines="none">
          <ion-progress-bar [value]="capacityValue"></ion-progress-bar>
        </ion-item>
        <span style="float: right; padding-bottom: 5px">
          {{ disk.used }} usados de {{ disk.total }}
        </span>
      </ion-card-content>
      <ion-card-content *ngIf="!disk">
        <ion-item lines="none">
          <ion-icon name="warning-outline" slot="start"></ion-icon>
          <ion-label> No se puede calcular</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>
  <ion-footer>
    <ion-list>
      <ion-item class="pointer" (click)="logout()">
        <ion-icon class="ion-margin-end" name="log-out-outline"></ion-icon>
        Cerrar sesión
      </ion-item>
    </ion-list>
  </ion-footer>
</ion-menu>
