<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-menu side="start" menuId="first" contentId="homelayout">
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true">
  <div id="homelayout">
    <div>
      <ul>
        <li
          routerLink="/login"
          style="color: rgb(45, 45, 255); cursor: pointer; list-style: none"
        >
          Login
        </li>
      </ul>
    </div>
  </div>
</ion-content>
