.item {
  display: flex;
  flex-direction: column;
  margin: 8px;
  width: 110px;
  .icon{
    height: 100px; width: 100px;
    margin: 0 auto;
  }
  .label{
    padding-left: 20px;
  }
}

ion-content {
  --overflow: hidden !important;
}
