.item {
  display: flex;
  flex-direction: column;
  margin: 8px;
  width: 110px;
  .icon{
    height: 100px; width: 100px;
    margin: 0 auto;
  }
  .label{
    padding-left: 20px;
  }
}

ion-content {
  --height: 100vh;
  --padding-bottom: 64px
}

app-fab {
  position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}
