<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Private Cloud</ion-title>
  </ion-toolbar>
</ion-header>
<app-side-menu (navigate)="sideMenuNavigate($event)"></app-side-menu>

<ion-content [fullscreen]="true">
  <div id="homelayout">
    <app-breadcrumb [path]="route"></app-breadcrumb>
    <ion-grid>
      <ion-card *ngIf="content.length === 0">
        <ion-item disabled class="ion-text-center" style="width: 100%">
          <ion-label>No hay nada en este directorio</ion-label>
        </ion-item>
      </ion-card>
      <ion-row>
        <div *ngFor="let item of content">
          <ion-card *ngIf="!item.includes('.')" class="item">
            <ion-icon
              class="icon"
              name="folder"
              (click)="navigateFolder(item)"
            ></ion-icon>
            <ion-card-content style="padding: 5px 10px">
              <span>{{item}}</span>
              <ion-icon
                style="float: right; margin-top: 2px"
                name="ellipsis-vertical"
                (click)="showActions(item)"
              ></ion-icon>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="item.includes('.')" class="item">
            <ion-icon class="icon" name="document"></ion-icon>
            <ion-card-content style="padding: 5px 10px">
              <span>{{item}}</span>
              <ion-icon
                style="float: right; margin-top: 2px"
                name="ellipsis-vertical"
                (click)="showActions(item)"
              ></ion-icon>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <app-fab (newFolder)="createFolder($event)"></app-fab>
</ion-content>
